---
---
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

* {
    box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


/* change colours to suit your needs */

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}


/* change colours to suit your needs */

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* change border colour to suit your needs */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

ul {
    list-style: none;
}

input,
select {
    vertical-align: middle;
}

a:hover {
    opacity: .5;
    transition: .25s;
}

html {
    background-color: #fff;
    display: block;
}

body {
    font-family: serif;
    font-size: 14px;
}

div {
    margin-bottom: 10%;
}

main {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

img {
    width: 90%;
    border-radius: 50%;
    margin-bottom: 20%;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    line-height: 1.6;
    width: 30%;
    padding: 2% 2%;
    background-color: #333;
    color: #fff;
    margin-bottom: 0;
}

.right {
    width: 70%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 0;
    div {
        width: 90%;
    }
    p {
        text-align: left;
        line-height: 1.66;
    }
    h4 {
        text-align: left;
        border-bottom: solid 1px #333;
    }
    h5 {
        font-weight: bold;
        font-size: 20px;
        strong {
            font-weight: normal;
            font-size: 14px;
            vertical-align: bottom;
            font-style: italic;
        }
    }
}

h1 {
    font-size: 48px;
    margin-bottom: 16px;
}

h2 {
    font-size: 24px;
    margin-bottom: 24px;
    font-weight: lighter;
}

h4 {
    font-size: 24px;
    margin-bottom: 8px;
}

h5 {
    font-size: 16px;
    margin: 16px auto;
    display: flex;
    justify-content: space-between;
}

h1,
h2,
h4 {}

p {
    width: 100%;
}

.right div div {
    width: 100% !important;
}

@media print {
    @page :first {
        size: 216mm 279mm;
    }
    @page {
        size: letter landscape;
        margin: 4.0cm;
    }
}
